<p style="color: green"><%= notice %></p>
<div class="container">
<%= render @user %>
<div class="card mt-4">
  <h4>Bio</h4>
  <p class="text-muted">
    <%= @user.bio %>
  </p>
</div>
<div>
 <div>
    <% @posts.each_with_index do |post, index| %>
      <%= render partial: "posts/post" , locals: { post: post, index: index } %>
        <% end %>
  </div>
  <button class="btn text-center">
  See all posts
  </button>
</div>
</div>