ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

/* post partial */

.post {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border: 2px solid black;
}

.post-img {
  height: 140px;
  width: 100%;
  object-fit: cover;
}
